#top3 {
  display: flex;
  justify-content: center;
  margin: 5% 0;
}

.top-card {
  background-color: white;
  text-align: center;
  width: 15%;
  border-radius: 4%;
  display: inline-block;
}

#first {
  margin: 0 5%;
}

#second {
  margin-top: 2%;
}

#third {
  margin-top: 4%;
}

#top10 {
  display: flex;
  justify-content: center;
}

#scoreboard {
  background-color: white;
  padding: 5%;
  width: 50%;
  border-collapse: collapse;
  border-radius: 10px;
}

#scoreboard tr td {
  padding: 3%;
  border-bottom: black solid 2px;
}

#scoreboard tr:last-child td{
  padding: 3%;
  border-bottom: none;
}

.score {
  text-align: center;
}
